body {
  background-color: #b2ebf2;
}

h1 {
  color: #66bfbf;
  font-family: "garamond";
}
h3 {
  color: #66bfbf;
  font-family: "garamond";
}

hr {
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}
